<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ data.title }}</h4>
    <button type="button" class="btn btn-custom" (click)="onDismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-center"><b>Where are you now?</b></p>
    <p class="text-center">
      <select class="form-select" [(ngModel)]="fromSearchTxt">
        <option *ngFor="let from of data.from">{{ from }}</option>
      </select>
    </p>
    <p class="text-center">
      <b>Where would like to go?</b>
    </p>
    <p class="text-center">
      <select class="form-select" [(ngModel)]="toSearchTxt">
        <option *ngFor="let to of data.to">{{ to }}</option>
      </select>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-custom" (click)="onDismiss()">Back</button>
    <button type="button" class="btn btn-custom" (click)="onSearch()">Get Directions</button>
  </div>
</div>
