<!-- <div class="d-flex flex-row align-items-center justify-content-center pt-2">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item" [ngClass]="{'sw' : selectedWing === 'macalister'}" (click)="onSelectWing('macalister')">Macalister Wing</li>
    <li class="list-group-item" [ngClass]="{'sw' : selectedWing === 'peel'}" (click)="onSelectWing('peel')">Peel Wing</li>
  </ul>
</div> -->

<div class="wrapper-box">
  <div class="floating-menu">
    <ul>
      <li *ngFor="let fx of listFloors; index as i" [ngClass]="{'sfx' : selectedFloor === fx, 'nfx1' : hasNavFrom(fx), 'nfx2' : hasNavTo(fx)}" (click)="selectedFloor = fx">
        <a>{{ fx }}</a>
      </li>
    </ul>
  </div>
  <div class="waypoint-image-container">
    <img class="waypoint-image" src="assets/{{ selectedWing }}/{{ floor }}.png">
  </div>
</div>

<!-- <zxing-scanner [formats]="allowedFormats" (scanSuccess)="onCodeResult($event)"></zxing-scanner> -->

<div class="d-flex flex-row align-items-center justify-content-center">
  <button type="button" class="btn btn-custom nav-search btn-x" (click)="onSearch()">Search</button>
  <!-- <button type="button" class="btn btn-custom nav-search" (click)="onScan()">Scan QR</button> -->
</div>

<router-outlet></router-outlet>