.sfx {
  background-color: #00585f;
  color: #ffffff;
  cursor: pointer;
}

.nfx {
  color: white;
  background-color: red;
}

.nfx1 {
  color: white;
  background-color: #00adfe;
}

.nfx2 {
  color: white;
  background-color: #e2001a;
}

.wrapper-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.floating-menu {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.floating-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #333;
}

.floating-menu ul li {
  margin-bottom: 5px;
}

.floating-menu ul li a {
  text-decoration: none;
  display: block;
  padding: 2px;
  text-align: center;
  cursor: pointer;
}

.waypoint-image-container {
  max-width: 98%;
}

.waypoint-image {
  max-width: 100%;
  height: auto;
  display: block;
  padding-left: 50px;
  padding-top: 150px;
}

.sw {
  color: white;
  background-color: #00585f;
}

.nav-search {
  display: block;
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}