.btn-custom {
  color: #fff;
  background-color: #00585F;
  border-color: #00585F;
  box-shadow: none;
}

.btn-custom:hover {
  color: #fff;
  background-color: #337a7f; 
  border-color: #337a7f;
}

.btn-x {
  height: 48px;
  border-radius: 24px;
  margin-left: 16px;
  margin-right: 16px;
}